# IntelliJ / IDEA
.idea/
*.iml

# build
build/
out/
**/.gradle/

# Java
*.class

# OS
.DS_Store
Thumbs.db

*.lock

# Ignore all PEM files by default
*.pem
ring_key/

# Explicitly keep the public key
!ohttp_pub.pem

#ignore token
tokens.json