# IntelliJ / IDEA
.idea/
*.iml

# Gradle & build
.gradle/
build/
out/

# Java
*.class

# OS
.DS_Store
Thumbs.db

*.lock
*.lock

# Ignore all PEM files by default
*.pem

# Explicitly keep the public key
!ohttp_pub.pem